
<div class="custom-form">
    
        <form [formGroup]="authenticationForm" (ngSubmit)="login()" method="post">
        
            <div class="p-input-filled">
                <h2 class="bienvenida" i18n>Login</h2>
                <span class="p-input-icon-left">
                    <i class="pi pi-user"></i>
                    <input type="text" pInputText formControlName="username" i18n-placeholder placeholder="Usuario">         
                </span>

                <span class="p-input-icon-left">
                    <i class="pi pi-lock"></i>
                    <input type="password" pPassword formControlName="password" i18n-placeholder placeholder="Password" [feedback]="false" > 
            
                </span>
            </div>
            
                <button type="submit" class="tam50" [disabled]="!authenticationForm.valid" i18n-label label="Login" [class.btn-disabled]="!authenticationForm.valid" i18n>Login</button>
            

        </form>
    
</div>






