<div class="iconApp">ICONO APP</div>
<div class="nombreApp">NOMBRE APP</div>
<div *ngIf="!isAuth" class="{{classFlagSelected}}">
    <div>
        <img src="assets/images/flags/{{selectedCountry.code}}.png" title="{{selectedCountry.name}}" 
            (click)="showFlagsDiv()" />
    </div>  
</div>


<p-toast position="top-center" key="errorMensaje" (onClose)="clear()" >
    <ng-template let-message pTemplate="message">
        <span class="p-toast-message-icon pi pi-times-circle" ></span>
        <div class="p-toast-message-text">
            <div class="p-toast-detail">
                <p innerHtml="{{message.detail}}"></p>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-center" key="successMensaje" (onClose)="clear()" >
    <ng-template let-message pTemplate="message">
        <span class="p-toast-message-icon pi pi-check" ></span>
        <div class="p-toast-message-text">
            <div class="p-toast-detail">
                <p innerHtml="{{message.detail}}"></p>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-center" key="infoMensaje" (onClose)="clear()" >
    <ng-template let-message pTemplate="message">
        <span class="p-toast-message-icon pi pi-info-circle" ></span>
        <div class="p-toast-message-text">
            <div class="p-toast-detail">{{message.detail}}</div>
        </div>
    </ng-template>
</p-toast>

<p-toast position="top-center" key="warnMensaje" (onClose)="clear()" >
    <ng-template let-message pTemplate="message">
        <span class="p-toast-message-icon pi pi-exclamation-triangle" ></span>
        <div class="p-toast-message-text">
            <div class="p-toast-detail">{{message.detail}}</div>
        </div>
    </ng-template>
</p-toast>

<div *ngIf="showFlags" class="setFlags" >
            
    <div *ngFor="let country of countries" >    
        <img src="assets/images/flags/{{country.code}}.png" title="{{country.name}}"
                (click)="changeFlag(country.code)"/>
    </div>
</div>