:host {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(1,75,160); 
    border-top: 2px solid white;
    color: white;
  }

.iconApp {
  width: 20%;
}

.nombreApp {
  width: 80%;
}

.flagSelected {
  margin-right: 5%;
  cursor: pointer;
  width: 40px;
}

.flagSelected2 {
  margin-right: -2.7%;
  cursor: pointer;
  width: 40px;
}

.setFlags {
  margin-right: 5%;
  margin-top: 185px;
  background-color: rgb(235, 241, 239);
  height: 135px;
  width: 40px;
  cursor: pointer;
  padding-top: 2px;
  z-index: 1001;
}