.custom-table {
    margin-top: 2px;
    max-width: 90%;
    margin-left: 5%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}

.titulo {
    margin-left: 10%;
    font-weight: 600;
    color: #495057;
    font-size: 1.5rem;
}

.iconos {
    margin-right: 10%;
}

.p-button.p-button-icon-only.excel {
    background-color: #4caf50;
    color: white;
}

.p-button.p-button-icon-only.excel:hover {
    background-color: #495057;
}

.p-button.p-button-icon-only.edit:hover {
    background-color: #e9c111;
    color: white;
}

.p-button.p-button-icon-only.change:hover {
    background-color: #5245cc;
    color: white;
}

.p-button.p-button-icon-only.activar:hover {
    background-color: #22a558;
    color: white;
}

.p-button.p-button-icon-only.desactivar:hover {
    background-color: #e41414;
    color: white;
}

:host .p-dialog {
    height: 70%;
  }

:host .dialog-form input {
    margin: 0.5rem 0;
    width: 100%;
}

:host .dialog-form button {
    width: 30%;
    margin-left:35%;
    margin-right:35%;
}

.p-multiselect panel {
    z-index: 999;
}

:host ::ng-deep .p-button {
    margin-right: .5rem;
}


elemento {

    z-index: 1001;
    transform-origin: center bottom 0px;
    top: -168.133px;
    left: -566.7px;

}
:host ::ng-deep .p-calendar .p-datepicker {
    min-width: 20%;
}

:host ::ng-deep .p-datepicker
{
    width: 20%;
    position: fixed;
    margin-top: 10%;
    margin-left: 39%;
}
:host ::ng-deep .p-multiselect .p-multiselect-panel{
    min-width: 20%;
}

:host ::ng-deep .p-multiselect-panel {
    width: 20%;
    position: fixed;
    margin-top: 10%;
    margin-left: 69%;
}
