.custom-footer {
    height: 100%;
    background-color: rgb(1,75,160); 
    border-bottom: 2px solid white;
  }

  .contacto {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    margin-right: 5%;
  }

  .pi-key {
    color: white;
    cursor: pointer;
    margin-right: 15px;
  }

  .pi-envelope {
    color: white;
    cursor: pointer;
  }  
  
  :host .dialog-form input {
    margin: 0.5rem 0;
    width: 100%;
  }

  :host .dialog-form textarea {
    margin: 0.5rem 0;
    width: 100%;
  }

  button {
    width: 30%;
    margin-left:35%;
    margin-right:35%;
  }
  
